#nabvar{
    /* border: 2px solid black; */
    display: flex;
    height: 100px;
    width: 100%;
    margin-top: 0px;
    background-color: white;
    position: fixed;
    box-shadow: 0px 0px 5px #888888;
}
#left_btn{
    margin-top: 25px;
    margin-left: 15px;
    color: RGB(228, 185, 97);
    font-size: 15px;
    font-weight: bold;
    background-color: transparent;
    border: transparent;
}
#tag_img{
    margin: auto;
}
#smallicons{
    /* border: 1px solid black; */
    height: 20px;
    width: 200px;
    margin-top: 22px;
}
#smallicons>a{
    color: RGB(228, 185, 97);
    margin-left: 15px;
}
#footer{
    height: 530px;
    width: 100%;
    /* border: 2px dashed black; */
    box-shadow: 0px 0px 5px #888888;
}
#parent{
    height: 350px;
    width: 78%;
    margin: auto;
    margin-top: 60px;
    /* border: 2px dashed black; */
    display: flex;
}
#child01{
    height: fit-content;
    width: 25%;
    /* border: 2px solid black; */
    /* margin: auto; */
}
#child02{
    height: fit-content;
    width: 25%;
    /* border: 2px solid black; */
    margin: auto;
    margin-top: 0px;
}
#child03{
    height: fit-content;
    width: 25%;
    /* border: 2px solid black; */
    /* margin: auto; */
}
#child01>h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: lighter;
}
#child01>p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: grey;
    /* line-height: 34px; */
}
#child01>p:hover{
    color: RGB(228, 185, 97);
}
#child02>h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: lighter;
}
#child02>p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: grey;
    /* line-height: 34px; */
}
#child02>p:hover{
    color: RGB(228, 185, 97);
}
#child03>h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: lighter;
}
#child03>p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: grey;
}
#child03>p:hover{
    color: RGB(228, 185, 97);
}
#child03>input{
    background-color: transparent;
    color: gray;
    border: transparent;
}
#child03>button{
    height: 38px;
    width: 110px;
    color: white;
    background-color: RGB(228, 185, 97);
    border: transparent;
    border-radius: 8px;
}
#child03>button:hover{
    background-color: black;
}
#parent02{
    height: 50px;
    width: 210px;
    /* border: 2px dotted black; */
    margin: auto;
    margin-top: 40px;
}
#parent02>a{
    color: grey;
    margin-left: 8px;
}
#parent02>a:nth-child(1):hover{
    color: RGB(24, 120, 243);
}
#parent02>a:nth-child(2):hover{
    color: RGB(29, 155, 240);
}
#parent02>a:nth-child(3):hover{
    color: RGB(206, 104, 96);
}
#parent02>a:nth-child(4):hover{
    color: RGB(254, 0, 0);
}
#lasttext{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 18px;
    text-align: center;
    margin-top: -10px;
    word-spacing: 4px;
}


#searchbody{
    height: 500px;
    width: 100%;
    border: 2px solid white;
}
#searchbar{
    height: 50px;
    width: 75%;
    margin: auto;
    /* border: dotted 2px black; */
    margin-top: 200px;
}
#searchInput{
    height: 100%;
    width: 75%;
    border: 1px solid grey;
    box-shadow: 1px 1px 1px 1px gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
#searchbar>button{
    height: 54px;
    width: 15%;
    box-shadow: 1px 1px 1px 1px gray;
    background-color: RGB(228, 185, 97);
    border: 1px RGB(228, 185, 97);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}