#nabvar{
    /* border: 2px solid black; */
    display: flex;
    height: 100px;
    width: 100%;
    margin-top: 0px;
    background-color: white;
    position: fixed;
    box-shadow: 0px 0px 5px #888888;
}
#left_btn{
    margin-top: 25px;
    margin-left: 15px;
    color: RGB(228, 185, 97);
    font-size: 15px;
    font-weight: bold;
    background-color: transparent;
    border: transparent;
}
#tag_img{
    margin: auto;
}
#smallicons{
    /* border: 1px solid black; */
    height: 20px;
    width: 200px;
    margin-top: 22px;
}
#smallicons>a{
    color: RGB(228, 185, 97);
    margin-left: 15px;
}
#footer{
    height: 530px;
    width: 100%;
    /* border: 2px dashed black; */
    box-shadow: 0px 0px 5px #888888;
}
#parent{
    height: 350px;
    width: 78%;
    margin: auto;
    margin-top: 60px;
    /* border: 2px dashed black; */
    display: flex;
}
#child01{
    height: fit-content;
    width: 25%;
    /* border: 2px solid black; */
    /* margin: auto; */
}
#child02{
    height: fit-content;
    width: 25%;
    /* border: 2px solid black; */
    margin: auto;
    margin-top: 0px;
}
#child03{
    height: fit-content;
    width: 25%;
    /* border: 2px solid black; */
    /* margin: auto; */
}
#child01>h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: lighter;
}
#child01>p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: grey;
    /* line-height: 34px; */
}
#child01>p:hover{
    color: RGB(228, 185, 97);
}
#child02>h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: lighter;
}
#child02>p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: grey;
    /* line-height: 34px; */
}
#child02>p:hover{
    color: RGB(228, 185, 97);
}
#child03>h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: lighter;
}
#child03>p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: grey;
}
#child03>p:hover{
    color: RGB(228, 185, 97);
}
#child03>input{
    background-color: transparent;
    color: gray;
    border: transparent;
}
#child03>button{
    height: 38px;
    width: 110px;
    color: white;
    background-color: RGB(228, 185, 97);
    border: transparent;
    border-radius: 8px;
}
#child03>button:hover{
    background-color: black;
}
#parent02{
    height: 50px;
    width: 210px;
    /* border: 2px dotted black; */
    margin: auto;
    margin-top: 40px;
}
#parent02>a{
    color: grey;
    margin-left: 8px;
}
#parent02>a:nth-child(1):hover{
    color: RGB(24, 120, 243);
}
#parent02>a:nth-child(2):hover{
    color: RGB(29, 155, 240);
}
#parent02>a:nth-child(3):hover{
    color: RGB(206, 104, 96);
}
#parent02>a:nth-child(4):hover{
    color: RGB(254, 0, 0);
}
#lasttext{
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-size: 18px;
    text-align: center;
    margin-top: -10px;
    word-spacing: 4px;
}
#parentBody{
    height: 700px;
    width: 100%;
    border: 2px dashed white;
}
#firstText{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 120px;
}
#son{
    height: 450px;
    width: 25%;
    /* border: 1px dotted  black; */
    margin: auto;
    margin-top: -5px;
}
#son>a:nth-child(1){
    color: RGB(59, 89, 153);
}
#son>a:nth-child(1)>button{
    width: 100%;
    height: 45px;
    background-color: RGB(59, 89, 153);
    color: RGB(59, 89, 153);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: left;
    border-radius: 5px;
    border: transparent;
    display: flex;   
}
#son>a:nth-child(1)>button>img{
    padding-left: 164px;
    margin-top: 2px;
    height: 38px;
    width: 38px;
}
#son>a:nth-child(1)>button>p{
    margin-left: 12px;
    color: white;
}
#son>a:nth-child(2){
    color: RGB(221, 76, 57);
}
#son>a:nth-child(2)>button{
    width: 100%;
    height: 45px;
    background-color: RGB(221, 76, 57);
    color: RGB(221, 76, 57);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: left;
    border-radius: 5px;
    border: transparent;
    display: flex;   
    margin-top: 10px;
}
#son>a:nth-child(2)>button>img{
    padding-left: 184px;
    margin-top: 2px;
    height: 38px;
    width: 38px;
}
#son>a:nth-child(2)>button>p{
    margin-left: 12px;
    color: white;
}
#son>p:nth-child(3){
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
#sEmail{
    height: 26px;
    width: 99%;
    border: 1px solid grey;
    box-shadow: .5px .5px .5px .5px #888888;
}
#son>p:nth-child(5){
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
#sPassword{
    height: 26px;
    width: 99%;
    border: 1px solid grey;
    box-shadow: .5px .5px .5px .5px #888888;
}
#son>p:nth-child(7){
    text-align: right;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
#son>a:nth-child(8)>button{
    width: 100%;
    height: 38px;
    background-color: RGB(228, 185, 97);
    color: black;
    font-size: 18px;
    text-align: center;
    border: transparent;
}
#son>a:nth-child(8)>button:hover{
    background-color: black;
    color: white;
}
#son>p:nth-child(9){
    text-align: center;
    font-size: 18px;
    color: gray;
    margin-top: 10px;
    /* border-bottom: 2px grey; */
}
#son>button:nth-child(10){
    width: 100%;
    height: 38px;
    background-color: RGB(228, 185, 97);
    color: black;
    font-size: 18px;
    text-align: center;
    border: transparent;
}
#son>button:nth-child(10):hover{
    background-color: black;
    color: white;   
}